@use 'functions' as *;
@use 'variables' as *;

/* General body styling */
body {
    position: relative; /* Ensures the body is positioned relative to its normal flow */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    // align-items: center; /* Centers content vertically */
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
    font-family: $font-family;
    font-style: normal;
    line-height: normal;
    background: $blue-50;
    font-feature-settings:
        'liga' off,
        'clig' off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
    body {
        min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
    }
}

// Mobile First Approach

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

button {
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    &.container {
        background-color: $white;
        display: flex;
        flex-direction: column;
        row-gap: $sp-300;

        .score-card {
            border-radius: 0px 0px 32px 32px;
            background: $gradient-2;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: $sp-400;
            padding-block: $sp-400;
            padding-inline: rem(57.5);

            &__title {
                color: $navy-200;
                font-weight: 700;
                font-size: $fs-18;
                line-height: $lh-130;
            }

            &__circle {
                border-radius: rem(70);
                background: $gradient-1;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: rem(140);
                height: rem(140);

                &__score {
                    color: $white;
                    font-weight: 800;
                    font-size: $fs-56;
                    line-height: $lh-100;
                }

                &__of {
                    color: $navy-200;
                    font-size: $fs-16;
                    font-weight: 700;
                    line-height: $lh-130;
                }
            }

            &__details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: $sp-100;

                &__great {
                    color: $white;
                    font-size: $fs-24;
                    font-weight: 700;
                    line-height: $lh-130;
                }
                &__info {
                    color: $navy-200;
                    font-size: $fs-16;
                    font-weight: 500;
                    line-height: $lh-130;
                }
            }
        }

        .score-summary {
            display: flex;
            flex-direction: column;
            padding-inline: rem(30);
            margin-bottom: rem(30);
            row-gap: $sp-300;

            &__title {
                font-size: $fs-18;
                font-weight: 700;
                line-height: $lh-130;
            }

            &__results {
                display: flex;
                flex-direction: column;
                row-gap: $sp-200;

                > .item {
                    border-radius: rem(12);
                    display: flex;
                    justify-content: space-between;
                    padding-inline: rem(16);
                    padding-block: rem(17.5);

                    .img-category-wrapper {
                        display: flex;
                        column-gap: $sp-200;

                        .result__category {
                            font-size: $fs-16;
                            font-weight: 500;
                            line-height: $lh-130;
                        }
                    }

                    .result__score {
                        color: $navy-950;
                        font-size: $fs-16;
                        font-weight: 700;
                        line-height: $lh-130;

                        span {
                            opacity: 0.5;
                        }
                    }
                }

                .reaction {
                    background-color: $red-50;
                    .img-category-wrapper {
                        .result__category {
                            color: $red-400;
                        }
                    }
                }

                .memory {
                    background-color: $yellow-50;
                    .img-category-wrapper {
                        .result__category {
                            color: $yellow-400;
                        }
                    }
                }
                .verbal {
                    background-color: $green-50;
                    .img-category-wrapper {
                        .result__category {
                            color: $green-500;
                        }
                    }
                }
                .visual {
                    background-color: $blue-50;
                    .img-category-wrapper {
                        .result__category {
                            color: $blue-800;
                        }
                    }
                }
            }

            &__button {
                border-radius: rem(128);
                background-color: $navy-950;
                color: $white;
                font-size: $fs-18;
                font-weight: 700;
                line-height: $lh-130;
                padding-block: rem(15.5);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        &.container {
            border-radius: rem(32);

            align-self: center;
            justify-content: center;
            flex-direction: row;
            max-height: rem(512);
            max-width: rem(686);

            .score-card {
                border-radius: rem(32);
                flex: 1;
                padding-block: rem(44.5);
                padding-inline: rem(69);
            }

            .score-summary {
                flex: 1;
                padding-block: rem(44.5);
                padding-inline: rem(39.5);
                row-gap: $sp-400;

                &__title {
                    font-size: $fs-24;
                }

                &__results {
                    > .item {
                        padding-inline: rem(16);
                        padding-block: rem(16.5);

                        .img-category-wrapper {
                            .result__category {
                                font-size: $fs-18;
                            }
                        }

                        .result__score {
                            font-size: $fs-18;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        &.container {
        }
    }
}

@media screen and (min-width: 1440px) {
}
